<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8' />
      <meta name="csrf-token" content="{{ csrf_token() }}" />
      <title>StepCalendar!</title>
     
      <link rel="stylesheet" href="fullcalendar.css">
      <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/jquery-ui.css">
      <link rel="stylesheet" href="fullcalendar.print.css" media="print">
      <link rel="stylesheet" href="css/stylefull.css">
      <link rel="stylesheet" href="css/jquery.qtip.css">


      <!-- COLOR PICKER  -->
      <link rel="stylesheet" href="bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.css">

      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

      <style>
        body {
          margin-bottom: 10px;
        }
        .title {
          margin-top: 50px;
          font-family: 'Open Sans', arial;
          font-size: 58px;
          font-weight: 100 ;
      /*    text-shadow: 4px 4px 4px #aaa;*/
          color: grey;
        }
        .pad-top{
            padding-top: 100px;
            background-color: #f4f5f7;
            opacity: 0.9;
            height: 100vh;
            width: 75%;
        }
        .footer{
          font-family: 'Open Sans', arial;
          font-size: 12px;
          font-weight: 100 ;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 60px;
        }
        .marg-top-80 {
            margin-top: 120px;
        }

        .back {
          background-image: url("css/images/back.jpeg");
          margin-top: 10px;

        }
        .backauth {
          /* background-color: #eaecef; */
          background-color: #b3bfd1;
          /* background-image: url("css/images/back-dark.xcf"); */
          /* background-color: #eaecef; */
          /*background-color: #697d9b;*/
        }
        .center { 
          text-align: center; 
        }
        .adm-btn {
          margin: 0 10px 0 10px;
        }

        #login_alt, #logout_alt {
          margin-top: 30px;
        }
        .link {
          background-color: #eef1f5;
          font-family: 'Open Sans', arial;
          font-size: 24px;
          font-weight: 100 ;
        }
        a:hover{
          color: rgb(51, 150, 231) !important;
          text-decoration: none;
        }
        .show_event {
          color:black !important;
        }
      </style>
  </head>

  <body class='backauth'>

    <div id="visit" class="container pad-top">

      <div class="container text-center" style="margin-top: 10px">
        <img src="css/images/step_logo.png" style="width: 80px; height: 80px">
      </div>
    
        
      <div class="container text-center title">Календарь событий</div>
  
      <div class="container text-center login marg-top-80">
        <button id ="login_btn" type="button" class="btn btn-secondary">Войти</button>
      </div>
  
  
      <div class="text-center footer">
          Херсон<br /> ул. Перекопская, 20, БЦ Бордо, 5-этаж
      </div>

    </div>


    <div id="main" class="container">
        <h4><div id="greeting" class="text-center"></div></h4>

      <!--  CALENDAR  -->
      <div id='calendar'></div>

      <!-- A D M I N    B U T T O N   -->
      <div id='admin_btn' class="container" style="display: none;">
        <div class="center">
          <button id ="events_list_btn" class="ui-button ui-widget ui-corner-all adm-btn">Список событий</button>
          <button id ="users_list_btn" class="ui-button ui-widget ui-corner-all adm-btn">Список пользователей</button>
          <button id ="deps_list_btn" class="ui-button ui-widget ui-corner-all adm-btn">Список Отделов</button>             
          <button id ="get_csv" class="ui-button ui-widget ui-corner-all adm-btn">Скачать список событий</button>
        </div>
      </div>

      <div class="container center">
          <button id ="login_alt" class="ui-button ui-widget ui-corner-all">Войти</button>
          <button id ="logout_alt" class="ui-button ui-widget ui-corner-all">Выйти</button>
      </div>
    </div>

    <!-- LIST EVENTS -->
    <div id="events_list" title="Список событий">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Cтарт</th>
            <th scope="col">Окончание</th>
            <th scope="col">Название</th>
            <th scope="col">Исполнитель</th> 
            <th scope="col">Удалить</th>              
          </tr>
        </thead> 
        <tbody id="events_list_tr"></tbody>
      </table>
    </div>    

<!-- LIST DAY EVENTS -->
      <div id="event_view" title="Список событий дня">
        <h5 id="event_title" class="text-center"></h5>          
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Старт</th>
              <th scope="col">Окончание</th>
              <th scope="col">Название</th>
              <th scope="col">исполнитель</th>   
            </tr>
          </thead>
          <tbody id="listEvents"></tbody>
        </table>
        <button id ="close_day_events" class="ui-button ui-widget ui-corner-all">Закрыть</button>    
      </div>

<!-- C R E A T      E V E N T     F O R M    -->
    <div id="events">     
      <form>

        <div class="form-group">
          <input id="event_id" type="hidden" name="id" value="">
        </div>

        <div class="form-group">
          <label for="title">Название события</label>
          <input id="title" type="text" class="form-control"  placeholder="Input Title">
        </div>

        <div class="form-group">
          <label for="description">Описание события</label>
          <input id="description" type="text" class="form-control"  placeholder="Input Description">
        </div>

        <div class="form-group">
          <label for="remind">Напомнить</label>
          <input type="text" class="form-control datepicker" id="remind" placeholder="Выберите дату напоминания">
        </div>

        <div class="form-group">
          <label for="start">Начало</label>
          <input id="start" type="text" class="form-control datepicker" placeholder="Input Start Date">
        </div>

        <div class="form-group">
          <label for="end">Окончание</label>
          <input type="text" class="form-control datepicker" id="end" placeholder="Input End Date">
        </div>

        <label for="departament">Выбор отдела</label>
        <select class="form-control" name="departament_id" id="departament">
        </select>

        <label for="perfomer">Выбор исполнителя</label>
        <select class="form-control" name="user_id" id="perfomer">
        </select>

      </form>
    </div>

    <!-- LIST USERS -->
    <div id="users_list" title="Список пользователей">
        <table class="table table-striped">
            <thead class="thead-light">
              <tr>
                <th scope="col">Имя пользователя</th>
                <th scope="col">Полномочия</th>
                <th scope="col">Отдел</th>
                <th scope="col">Email</th>            
              </tr>
            </thead> 
            <tbody id="list_users"></tbody>
        </table>
      
        <button id ="user_creat_btn" class="ui-button ui-widget ui-corner-all">
            Создать Нового пользователя</button>

        <button id ="close_user_list_btn" class="ui-button ui-widget ui-corner-all">
            Закрыть список</button>
    </div>

    <!-- CREAT / EDIT  USER FORM -->
    <div id="creat_user_form" title="Информация о пользователе!">       
        <form>

          <div class="form-group">
            <input id="user_id" type="hidden" name="id" value="">
          </div>

          <div class="form-group">
            <label for="user_name">Имя пользователя</label>
            <input id="user_name" type="text" class="form-control"  placeholder="Input User Name">
          </div>

          <div class="form-group">
            <label for="user_email">Email</label>
            <input id="user_email" type="text" class="form-control" placeholder="Input User Email">
          </div>

          <label for="user_role">Полномочия</label>
          <select class="form-control" name="role_id" id="user_role">
          </select>

          <label for="user_departament">Выберите отдел</label>
          <select class="form-control" name="departament_id" id="user_departament">
          </select>

          <div class="form-group">
            <label for="user_password">Password</label>
            <input id="user_password" type="password" class="form-control" placeholder="Input User password">
          </div>
          
        </form>
        <div>
          <tbody id="userListEvents"></tbody>
        </div>
    </div>

      <!-- Departaments List -->
    <div id="departaments_list" title="Список Отделов">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col">Название Отдела</th>
            <th scope="col">Цвет фона</th>
          </tr>
        </thead>
        <tbody id="departaments_list_tr"></tbody>
      </table>
      <button id ="dep_creat_btn" class="ui-button ui-widget ui-corner-all">Создать отдел</button>
      <button id ="dep_close_btn" class="ui-button ui-widget ui-corner-all">Закрыть список</button>    
    </div>

    <!-- Creat Departament Form -->
    <div id="creat_departament_form" title="Параметры отдела"> 
        
        <form>

          <div class="form-group">

            <input id="dep_id" type="hidden" name="id" value="">
            
            <label for="departament_name">Название Отдела</label>
            <input id="departament_name" type="text" class="form-control"  placeholder="Введите название Отдела">
            
            <label for="departament_color">Цвет фона Отдела</label>
            <input id="departament_color" type="text" class="form-control"  placeholder="Выберите цвет фона Отдела">
            
          </div>

        </form>

    </div>

  <!-- LOGIN FORM -->
    <div id="login">

        <div id="enter" title="enter"></div>
        
        <form>

            <div class="form-group">
                <label for="name">name</label>
                <input type="text" class="form-control" id="name" placeholder="Input name">
            </div>

            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" placeholder="Input password">
            </div>

        </form>

        <button id="forgot" class="btn btn-link">Forgot Password</button>

    </div>

      <!-- SEND RESET PASSWORD FORM -->
    <div id="forgot_form">

        <div id="forgot_title" title="forgot" value="Reset the password"></div>

        <form>

            <div class="form-group">
                <label for="forgot_email"></label>
                <input type="email" class="form-control" name="email" id="forgot_email" placeholder="Input your email">
            </div>

        </form>

        <button id="forgot_send_link" class="btn btn-info">Reset Password</button>

    </div>

    <!-- RESET PASSWORD FORM -->
    <div id="change_password_form">

        <div id="change_password_title" title="forgot">Reset the password</div>

        <form>

            <div class="form-group">
                <label for="new_password">New Password</label>
                <input type="password" class="form-control" id="new_password" placeholder="Input new Password">
            </div>
            <div class="form-group">
                <label for="confirm_new_password">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_new_password" placeholder="Confirm new Password">
            </div>

        </form>

        <button id="save_new_password" class="btn btn-info">Save New Password</button>

    </div>

    <!-- Remind LIST EVENTS -->
    <div id="remind_events" class="ui-state-error" title="Внимание!!! Напоминание!">        
      
      <h5 id="remind_events_title" class="text-center"></h5>
              
            <table class="table table-striped ">
              <!-- <thead class="thead-light"> -->
              <!-- <thead class="thead-danger"> -->
              <thead class="">
                <tr>
                  <th scope="col">Начало</th>
                  <th scope="col">Название</th>
                  <th scope="col">Отдел</th>                    
                  <th scope="col">Ответственный</th>
                </tr>
              </thead>
              <tbody id="remindListEvents"></tbody>
            </table>

      <div class="widget">

        <button id ="got_event" class="ui-button ui-widget ui-corner-all">Ознакомлен</button>      
      
      </div>
    </div>

    <!-- DELETE USER DIALOG  -->
    <div id="dialog_user_delete" title="Delete this User?">

      <div>Этот пользователь является исполнителем одного или более событий. 
        Удалить его с заменой исполнителя на Администратора?</div>
              
    </div>

    <!-- DELETE DEPARTAMENT DIALOG -->
    <div id="dialog_dep_delete" title="Delete this Departament?">

      <div>Этот Отдел связан с одним или более событяими и/или Пользователями. 
        Удалить его вместе с зависимыми событиями и пользователями?</div>
              
    </div>

    <!-- DOWN LOAD EVENTS DIALOG -->
    <div id="dialog_download_events"> 
              
      <form>

        <h4>Выберите Период</h4>
        <div class="form-group">
          <label for="startList">Начало</label>
          <input id="startList" type="text" class="form-control datepicker" >
        </div>

        <div class="form-group">
          <label for="endList">Окончание</label>
          <input id="endList" type="text" class="form-control datepicker" >
        </div>

      </form>

    </div>

    <!--  DOWNLOAD LINK -->
    <div id="link" class="text-center link" title="Ссылка для скачивания"></div>

    <!--  GET LINK -->
      <div id="info" title="Info" class=""></div>
      
           

      <script src="http://code.jquery.com/jquery.min.js"></script> 

      <!-- ColPick -->
      <script src="http://code.jquery.com/jquery-3.2.1.js"></script> 
      <script src="bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.js"></script> 
      
      <script src="js/jquery-ui.js"></script> 
      <script src="lib/moment.min.js"></script>
      <script src='fullcalendar.js'></script>
      <script src="locale-all.js"></script>
      <script src='js/main.js'></script>
      <script src='js/events.js'></script>  
      <script src='js/users.js'></script>  
      <script src='js/departaments.js'></script>  
      <script src='js/info.js'></script>
      <script src='js/jquery.qtip.js'></script>

  </body>
</html>
